<div class="collection-header">
    <div>
        <h1>Genres</h1>
        <p>Explorez les différents genres disponibles dans la bibliothèque Vapeur.</p>
    </div>
</div>

<ul class="genres-list">
    {{#each genres}}
        <li><a href="/genres/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>
