<h1>Bienvenue sur la page des Editeurs</h1>
<ul>
{{#each editors }}
<li> <a href="/editors/{{id}}">{{name}}</a></li>
{{/each}}
</ul>

<form action="/editors/new" method="GET">
    <button type="submit">Ajouter un éditeur</button>
</form> 
