<div class="collection-header">
    <div>
        <h1>Éditeurs</h1>
        <p>Retrouvez tous les partenaires qui alimentent la bibliothèque Vapeur.</p>
    </div>
    <form action="/editors/create" method="GET">
        <button type="submit" class="cta">Ajouter un éditeur</button>
    </form>
</div>

<ul class="genres-list editors-list">
    {{#each editors}}
        <li><a href="/editors/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>
