{{#if error}}
  <p style="color: red;">{{error}}</p>
{{/if}}
<form action="/editors/new" method="POST">
  <div>
    <label for="name">Nom de l'éditeur:</label>
    <input type="text" id="name" name="name" required>
  </div>
  <button type="submit">Créer l'éditeur</button>
</form>